html, body, #root {
  min-height: 100vh;
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --darkBackgroundColor: #240041;
  --lightBackgroundColor: #3D006C;
}
